:host {
    width: 100%;
}

[nz-form] {
    max-width: 800px;
}

.register-are {
    margin-bottom: 25px;
}

.login-form-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagen-start {
    width: 70%;
    height: 70%;
}

.imagen-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 8%;
    height: 7%;
}

.imagen-registro {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 246, 157);
}

.logo {
    width: 10%;
    height: 10%;
    margin-top: 3%;
    margin-left: 3%;
}

i {
    cursor: pointer;
}