<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="250px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <!-- <a href="https://ng.ant.design/" target="_blank"> -->
            <img src="assets/menu.png" alt="logo">
            <span class="nombre">tempo app</span>
            <!-- </a> -->
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li *ngFor="let itemMenu of menu" nz-submenu [nzTitle]="itemMenu.titulo" [nzIcon]="itemMenu.icon">
                <ul>
                    <li *ngFor="let itemSub of itemMenu.submenu" nz-menu-item nzMatchRouter>
                        <a [routerLink]="itemSub.url">{{ itemSub.titulo }} </a>
                    </li>
                </ul>
            </li>
            <!-- <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter routerLink="/dashboard" [nzTitle]="isCollapsed ? 'Dashboard' : ''">
                <i nz-icon nzType="dashboard"></i>
                <span>Dashboard</span>
            </li> -->
            <!-- <li nz-submenu nzOpen nzTitle="Tablero" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/actividadActiva">Actividad</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dashboard">Reporte</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Mantenimiento" nzIcon="tool">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/equipo">Tus Miembros</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/actividades">Tus Actividades</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/proyecto">Tus Proyectos</a>
                    </li> -->

            <!-- <li nz-menu-item nzMatchRouter>
                        <a routerLink="/pruebas">PRUEBAS</a>
                    </li> -->
            <!-- </ul>
            </li> -->
            <!-- <li nz-submenu nzOpen nzTitle="Reportes" nzIcon="line-chart">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink='/report'>Reporte</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li nz-submenu nzOpen nzTitle="Con" nzIcon="line-chart"> -->
            <li nz-submenu nzTitle="Configuración" nzIcon="setting">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="logout()">Cerrar sesión</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" style="background-color: rgb(4, 91, 163); margin-top: 635px;" (click)="openUsuarios()" [nzTitle]="isCollapsed ? 'Conectados' : ''">
                <i nz-icon nzType="alert"></i>
                <span>Conectados</span>
            </li>

            <!-- <nz-alert nzType="info" nzMessage="Conectados" nzShowIcon></nz-alert> -->
            <!-- </li> -->
        </ul>

    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
                <span class="header-trigger-time" (click)="showModal()">
                    <label class="label-inicio-tiempo">Inicia tu tiempo</label>
                    <i class="trigger" nz-icon nzType="clock-circle" nzTheme="outline"></i>
                </span>
                <span class="info">
                    <i nz-icon nzType="user" class="icono-user" nzTheme="outline"></i>
                    {{ infoLogin.nombre }} {{ infoLogin.apellido }} | {{ infoLogin.usuario }}
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
                <nz-alert *ngIf="!webSoketService.socketStatus" class="footer" nzType="error" nzMessage="Desconectado" nzShowIcon></nz-alert>
                <nz-alert *ngIf="webSoketService.socketStatus" class="footer" nzType="success" nzMessage="Conectado" nzShowIcon></nz-alert>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Registra tu tiempo" nzFooter="." nzOkDisabled="false" (nzOnCancel)="handleCancel()">
    <div class="timer">
        <div class="tiempo">
            <div class="buttons" *ngIf="modoReloj">
                <button nz-button nzType="primary" *ngIf="btnStart" (click)="start()" [disabled]="enviar" nzSize="large" nzShape="circle" nzTooltipTitle="Play" nzTooltipPlacement="top" nz-tooltip><i nz-icon nzTheme="fill"
                        nzType="play-circle"></i></button>
                <button nz-button nzType="primary" *ngIf="btnResumen" (click)="resume()" nzShape="circle" nzTooltipTitle="Resumen" nzTooltipPlacement="top" nz-tooltip><i nz-icon nzType="redo"></i></button>
                <button nz-button nzType="primary" *ngIf="btnPause" (click)="pause()" nzSize="large" nzShape="circle" nzTooltipTitle="Pause" nzTooltipPlacement="top" nz-tooltip><i nz-icon nzTheme="fill"
                        nzType="pause-circle"></i></button>
                <button nz-button nzType="primary" *ngIf="btnStop" (click)="stop()" nzShape="circle" nzTooltipTitle="Stop" nzTooltipPlacement="top" nz-tooltip><i nz-icon nzTheme="fill"
                        nzType="stop"></i></button>
            </div>
            <div class="cronometro" *ngIf="modoReloj">
                <div> {{ hh }} : {{ mm }} : {{ ss }} </div>
            </div>
            <br>

            <!-- <div class="manual" *ngIf="modoManual">
                <nz-time-picker [(ngModel)]="inicio" nzTooltipTitle="Hora inicio" nzTooltipPlacement="top" nz-tooltip>
                </nz-time-picker>
                <i class="icon-time" nz-icon nzType="arrow-right" nzTheme="outline"></i>
                <nz-time-picker [(ngModel)]="fin" nzTooltipTitle="Hora fin" nzTooltipPlacement="top" nz-tooltip>
                </nz-time-picker>
                <button nz-button nzType="primary" [disabled]="enviar" (click)="guardar()" nzShape="circle"><i nz-icon
                        nzTheme="fill" nzType="check-circle"></i></button>
            </div>
            <div class="modos">
                <i class="icon-time" nzTooltipTitle="Cronometro" nzTooltipPlacement="topLeft" (click)="reloj()" nz-icon nzType="clock-circle" nzTheme="fill" nz-tooltip></i>
                <i class="icon-time" nzTooltipTitle="Tiempo manual" nzTooltipPlacement="topLeft" nz-icon nzType="menu" (click)="manual()" nzTheme="outline" nz-tooltip></i>
            </div> -->
        </div>

        <label *ngIf="pausa" style="text-align: center;"> Pausa: {{ pausa }} </label>

        <div *ngIf="up" class="detalle">

            <hr style="width: 85%; opacity: 0.2;">
            <label class="label-datos"> Programación </label>
            <nz-select [(ngModel)]="programacionequipos" (ngModelChange)="changeProgramacion()" [ngModelOptions]="{standalone: true}" nzPlaceHolder="Seleccione una actividad">
                <nz-option *ngFor="let programacion of listaProgramacion" [nzValue]="programacion._id" [nzLabel]="programacion.programacionproyecto.proyectos.nombreProyecto + ' - ' + programacion.programacionproyecto.actividades.nombre">
                </nz-option>
            </nz-select>
            <label class="label-datos"> Descripción </label>
            <textarea [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" cols="43" rows="2"></textarea>
        </div>
        <i *ngIf="down" (click)="mostrar()" nz-icon nzType="down" nzTheme="outline"></i>
        <i *ngIf="up" (click)="ocultar()" nz-icon nzType="up" nzTheme="outline"></i>
    </div>
</nz-modal>

<nz-drawer [nzClosable]="false" [nzVisible]="visibleUsuarios" nzPlacement="right" [nzWidth]="300" nzTitle="Miembros Conectados" (nzOnClose)="closeUsuarios()">
    <ul nz-list [nzDataSource]="miembrosCuenta" [nzBordered]="false" nzSize="small">
        <li nz-list-item *ngFor="let miembro of miembrosConectados" nzNoFlex>
            <div class="conectados">
                {{ miembro.nombre }} {{ miembro.apellido }}
                <i *ngIf="!miembro.estado" class="conect" nz-icon nzType="check-circle" nzTheme="fill"></i>
                <i *ngIf="miembro.estado" class="desconect" nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            </div>
        </li>
    </ul>
</nz-drawer>