<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="250px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <!-- <a href="https://ng.ant.design/" target="_blank"> -->
            <img src="assets/menu.png" alt="logo">
            <span class="nombre">tempo app</span>
            <!-- </a> -->
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li *ngFor="let itemMenu of menu" nz-submenu [nzTitle]="itemMenu.titulo" [nzIcon]="itemMenu.icon">
                <ul>
                    <li *ngFor="let itemSub of itemMenu.submenu" nz-menu-item nzMatchRouter>
                        <a [routerLink]="itemSub.url">{{ itemSub.titulo }} </a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Configuración" nzIcon="setting">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="logout()">Cerrar sesión</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" style="background-color: rgb(4, 91, 163); margin-top: 635px;" (click)="openUsuarios()" [nzTitle]="isCollapsed ? 'Conectados' : ''">
                <i nz-icon nzType="alert"></i>
                <span>Conectados</span>
            </li>
        </ul>

    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
                <span class="header-trigger-time" (click)="showModal()">
                    <label class="label-inicio-tiempo">Inicia tu actividad</label>
                    <i class="trigger" nz-icon nzType="clock-circle" nzTheme="outline"></i>
                </span>
                <span class="info">
                    <i nz-icon nzType="user" class="icono-user" nzTheme="outline"></i>
                    {{ infoLogin.nombre }} {{ infoLogin.apellido }} | {{ infoLogin.usuario }}
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
                <nz-alert *ngIf="!webSoketService.socketStatus" class="footer" nzType="error" nzMessage="Desconectado" nzShowIcon></nz-alert>
                <nz-alert *ngIf="webSoketService.socketStatus" class="footer" nzType="success" nzMessage="Conectado" nzShowIcon></nz-alert>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<nz-modal [(nzVisible)]="isVisible" nzWidth="480" nzTitle="Registra tu tiempo" nzOkDisabled="false" (nzOnCancel)="handleCancel()">
    <div class="detalle">
        <form *ngIf="formilario" nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm(validateForm.value)">
            <nz-form-item>
                <nz-form-label nzRequired>Programación asiganada</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="programacionequipos" id="programacionequipos" nzPlaceHolder="Seleccione una actividad">
                        <nz-option *ngFor="let programacion of listaProgramacion" [nzValue]="programacion._id" [nzLabel]="programacion.programacionproyecto.proyectos.nombreProyecto + ' - ' + programacion.programacionproyecto.actividades.nombre">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired>Descripción</nz-form-label>
                <nz-form-control nzErrorTip="Por favor escriba una descripción">
                    <textarea formControlName="descripcion" nz-input rows="2" placeholder="Escriba una descripción"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button style="width: 100%;" nz-button nzType="primary" [disabled]="!validateForm.valid">Iniciar actividad</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div *ngIf="limiteAct" class="vacio">
        <img style="width: 65%;" src="assets/no-start.svg" alt="">
    </div>

    <div *ngIf="pausar" class="vacio">
        <img style="width: 60%;" src="assets/pause-act.svg" alt="">
    </div>
</nz-modal>

<nz-drawer [nzClosable]="false" [nzVisible]="visibleUsuarios" nzPlacement="right" [nzWidth]="300" nzTitle="Miembros Conectados" (nzOnClose)="closeUsuarios()">
    <ul nz-list [nzDataSource]="miembrosCuenta" [nzBordered]="false" nzSize="small">
        <li nz-list-item *ngFor="let miembro of miembrosConectados" nzNoFlex>
            <div class="conectados">
                {{ miembro.nombre }} {{ miembro.apellido }}
                <i *ngIf="!miembro.estado" class="conect" nz-icon nzType="check-circle" nzTheme="fill"></i>
                <i *ngIf="miembro.estado" class="desconect" nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            </div>
        </li>
    </ul>
</nz-drawer>