:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.app-layout {
    width: 100vw;
}

.menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.header-trigger-time {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}

.info {
    position: absolute;
    margin-left: 60%;
    color: #001529;
    font-weight: 900;
}

.label-inicio-tiempo {
    font-size: initial;
    margin-right: 10px;
}

anticon icono-user anticon-user {
    font-size: x-large;
}

.icono-user {
    color: #001529;
}

.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #001529;
    transition: all .3s;
}

.sidebar-logo img {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.nombre {
    font-size: x-large;
    font-weight: bold;
    color: white;
    margin-left: 11px;
    margin-top: 8px;
    text-shadow: 4px 4px 1px #1a5ed8;
}

.sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
}

.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {
    margin: 24px;
}

.inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
}

.anticon,
button,
select {
    text-transform: none;
    margin-bottom: 9px;
}

[nz-button] {
    margin: 2%;
    width: 46px;
    height: 43px;
}

.ant-btn>.anticon {
    line-height: 0;
    font-size: 30px;
    margin: 1%;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0px 8px 8px;
}

.cronometro {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 10px 8px 15px;
    font-size: xx-large;
}

.timer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.detalle {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
}

.demo-infinite-container {
    height: 300px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

nz-list {
    padding: 24px;
}

nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
}

.tiempo {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-top: 5%;
}

.ant-drawer-title {
    margin: 0;
    color: #003875;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}

.etiquetas {
    font-size: large;
    margin-right: 3%;
}

nz-select {
    /* margin: 0 8px 10px 0; */
    width: 280px;
    margin: auto;
    margin-bottom: 10px;
}

.label-datos {
    /* color: #00000094; */
    font-size: small;
    margin-bottom: 7px;
    margin-left: 36px;
    color: #969696;
}

textarea {
    border-color: #0000002e;
    max-width: 85%;
    min-width: 50%;
    margin: auto;
}

.anticon.icon-time {
    line-height: 2;
    font-size: 23px;
    margin: 1%;
}

.modos {
    display: flex;
    flex-direction: column;
}

.manual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:hover {
    Cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 24px;
    /* width: 95%; */
    align-items: center;
}

.conectados {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.conect {
    color: #c10101;
}

.desconect {
    color: #1a6f0b;
}

.badge {
    color: #212529;
    width: fit-content;
    /* background-color: #ffc107; */
}

.etiqueta {
    display: flex;
    justify-content: center;
}