<div class="contenedor">
    <button id="back" nz-button nzTooltipTitle="Regresar" nzTooltipPlacement="top" routerLink="/proyecto" nz-tooltip></button>
    <h3 class="subtitulo">Proyecto</h3>
    <h2> {{ detalleProyecto.nombreProyecto }} </h2>

    <div class="container-fluid">
        <div class="row" style="text-align: center; ">
            <div class="col">
                <nz-card nzTitle="Responsable" nzBordered="false">
                    <div class="responsable">
                        <button id="detalleMmiembro" nz-button nzTooltipTitle="Detalle miembro" nzTooltipPlacement="top" nz-tooltip></button>
                        <label class="nombre-user">
                            {{ detalleProyecto.miembros.nombre + ' ' + detalleProyecto.miembros.apellido}} </label>
                    </div>
                </nz-card>
            </div>
            <div class="col">
                <nz-card nzTitle="Tiempo" nzBordered="false">
                    <!-- <p> Tiempo Proyectado: <span> <strong> {{ detalleProyecto.tiempoProyectadoPro }} </strong> </span>
                    </p>
                    <p> Tiempo trabajado: <span> <strong>{{ detalleProyecto.tiempoRealPro }} </strong> </span> </p> -->
                    <div>
                        <div class="chart">
                            <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
                            </fusioncharts>
                        </div>
                    </div>

                </nz-card>
            </div>
        </div>
    </div>
    <hr>
    <h2>Asignación de recursos</h2>
    <br>
    <button nz-button nzType="primary" (click)="openActividad()"><i nz-icon nzType="plus"></i>Agregar actividad</button>
    <nz-table #actividadesTable [nzData]="listOfDisplayData" nzFrontPagination="true" nzPageSize="5" [nzLoading]="loadingTable">
        <thead>
            <tr>
                <th> </th>
                <th> Actividad </th>
                <th>Hrs Proyectadas</th>
                <th>Hrs improductivas</th>
                <th>Hrs Totales</th>
                <th>Hrs productivas</th>
                <th> Estado </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of actividadesTable.data">
                <!-- <td class="btn-td">
                     <button id="miembro" nz-button nzType="primary" nzTooltipTitle="Agregar miembro" nzTooltipPlacement="top" (click)="openMiembro(data._id)" nz-tooltip></button> 
                </td> -->
                <td>
                    <button id="actividad" nz-button class="btn-team" nzTooltipTitle="Ver equipo" nzTooltipPlacement="top" (click)="operVerMiembros(data._id)" nz-tooltip></button>
                </td>
                <td>{{data.actividades.nombre}}</td>
                <td>{{data.tiempoProyectado}}</td>
                <td>{{data.tiempoMuerto | number}}</td>
                <td>{{data.tiempoReal | number}}</td>
                <td>{{data.tiempoReal - data.tiempoMuerto | number}}</td>
                <td>{{ data.estado && 'Activo' || 'Inactivo' }}</td>

            </tr>
        </tbody>
    </nz-table>

</div>

<!-- Informacion de Actividades -->

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="visibleActividad" nzTitle="Configuración de actividades" (nzOnClose)="closeActividad()">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateFormActividades" (ngSubmit)="submitFormActividades()">
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="actividades">Actividad</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione actividad" formControlName="actividades" id="actividades">
                    <nz-option *ngFor="let actividad of listaActividades" [nzLabel]="actividad.nombre" [nzValue]="actividad._id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="tiempoProyectado">Tiempo Proyectado (Hrs)
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="No cuenta con ese tiempo disponible">
                <nz-input-number [nzMin]="1" [nzStep]="1" [nzMax]="horasAsignables" nz-input formControlName="tiempoProyectado" id="tiempoProyectado">
                </nz-input-number>
                <label class="disponible"> ( {{ horasAsignables }} Hrs disponibles)</label>
                <br>
                <!-- <label *ngIf="tiempoActividad > horasAsignables" class="disponible-time">No cuenta con ese tiempo disponible</label> -->
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="estado">Estado</nz-form-label>
            <nz-switch formControlName="estado" id="estado">
            </nz-switch>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
            </nz-form-control>
        </nz-form-item>
        <div class="footer">
            <button type="button" (click)="closeActividad()" class="ant-btn" style="margin-right: 8px;"><span>Cancelar</span></button>
            <button nz-button (click)="closeActividad()" nzType="primary" class="ant-btn ant-btn-primary"><span>Enviar</span></button>
        </div>
    </form>
</nz-drawer>


<!-- Informacion de miembros -->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="visibleMiembro" nzTitle="Configuración de miembros de actividad" (nzOnClose)="closeMiembro()">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateFormMiembros" (ngSubmit)="submitFormMiembro()">
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="miembros">Miembro</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione un miembro" formControlName="miembros" id="miembros">
                    <nz-option *ngFor="let miembro of listaMiembros" [nzLabel]="miembro.nombre + ' '+ miembro.apellido" [nzValue]="miembro._id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="estado">Estado</nz-form-label>
            <nz-switch formControlName="estado" id="estado">
            </nz-switch>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
            </nz-form-control>
        </nz-form-item>
        <div class="footer">
            <button type="button" (click)="closeMiembro()" class="ant-btn" style="margin-right: 8px;"><span>Cancelar</span></button>
            <button nz-button (click)="closeMiembro()" nzType="primary" class="ant-btn ant-btn-primary"><span>Enviar</span></button>
        </div>
    </form>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" [nzMaskClosable]="true" [nzWidth]="500" [nzVisible]="verMiembro" nzTitle="Equipo de la Actividad" (nzOnClose)="closeVerMiembro()">
    <div class="div-equipo">
        <div *ngIf="sinMiembro" class="sinMiembro">
            <img style="max-width: 49%;" src="assets/no-user.svg">
            <hr>
            <button id="miembro" nz-button nzType="primary" nzTooltipTitle="Agregar miembro" nzTooltipPlacement="top" (click)="openMiembro()" nz-tooltip></button>
        </div>

        <div *ngIf="formulario">
            <h2>Asignar miembro</h2>
            <form nz-form [nzLayout]="'vertical'" [formGroup]="validateFormMiembros" (ngSubmit)="submitFormMiembro()">
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="miembros">Miembro</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione un mieembro" formControlName="miembros" id="miembros">
                            <nz-option *ngFor="let miembro of listaMiembros" [nzLabel]="miembro.nombre + ' '+ miembro.apellido" [nzValue]="miembro._id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="estado">Estado</nz-form-label>
                    <nz-switch formControlName="estado" id="estado">
                    </nz-switch>
                </nz-form-item>
                <br>
                <button type="button" (click)="closeMiembro()" class="ant-btn" style="margin-right: 8px;"><span>Cancelar</span></button>
                <button nz-button (click)="closeMiembro()" nzType="primary" class="ant-btn ant-btn-primary"><span>Enviar</span></button>
            </form>
        </div>

        <div *ngIf="infoMiembro">

            <div class="row" style="display: flex;">
                <div class="col" style="align-items: center;">
                    <button id="miembroAsignado" nz-button nzTooltipTitle="Detalle miembro" nzTooltipPlacement="top" nz-tooltip></button>
                </div>
                <div class="col" style="text-align: center;">
                    <label class="nombre-user">
                        {{ dataMiembro[0].miembros.nombre + ' ' + dataMiembro[0].miembros.apellido}} </label>
                    <br>
                    <label>{{ dataMiembro[0].miembros.usuario}} </label>
                    <br>
                    <label>{{ dataMiembro[0].miembros.correo}} </label>
                </div>

            </div>
            <!-- <li *ngFor="let equipo of dataMiembro" style="list-style: none;">
                <ul>
                    <span style="font-size: 20px;"> <i nz-icon nzType="user" class="icono-user" nzTheme="outline"></i>
                        {{ equipo.miembros.nombre + ' ' + equipo.miembros.apellido }} </span>
                </ul>
            </li> -->
        </div>

    </div>

</nz-drawer>