.subtitulo {
    color: rgb(83, 82, 82);
}

.contenedor {
    margin: 0 auto;
    max-width: 90%;
}

p {
    margin: 0;
}

span {
    font-size: large;
}

.layout {
    /* height: 100vh; */
    height: 100%;
    width: 100%;
}

.tabla {
    margin: 0 auto;
    max-width: 70%;
}

.headerTable {
    background-color: rgb(25, 173, 124);
}

.add {
    margin: 0 auto;
}

.title {
    margin-top: 2%;
    margin-left: 4%;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
}

[nz-form] {
    max-width: 800px;
}

.register-are {
    margin-bottom: 8px;
}

.login-form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nz-switch {
    margin-bottom: 8px;
}

nz-select {
    width: 200px;
}

nz-input-number {
    margin-right: 8px;
}


/* nz-content {
   margin: 24px 16px 0;
  }  */

.btn-team {
    background-color: rgba(22, 138, 22, 0.884);
    color: white;
}

.btn-td {
    text-align: center;
}

nz-avatar {
    margin-top: 16px;
    margin-right: 16px;
}

.div-equipo {
    margin: 0 auto;
}

#miembro {
    background-image: url('/assets/add-user.svg');
    background-size: 103px 66px;
    height: 68px;
    width: 99px;
    background-color: #1a5ed8;
}

#detalleMmiembro {
    background-image: url('/assets/boss.svg');
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    border: none;
    /* background-color: #0fabbc; */
}

#miembroAsignado {
    background-image: url('/assets/person.svg');
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    border: none;
    /* background-color: #0fabbc; */
}

#actividad {
    background-image: url('/assets/person.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.ant-card-head-title {
    font-size: x-large;
    color: #000000;
    text-shadow: 5px 13px 12px #5d5d5d;
}

#back {
    background-image: url('/assets/back.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    border: none;
}

.responsable {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
    /* align-items: baseline; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
}

.nombre-user {
    font-size: large;
    font-weight: bolder;
    color: #001529;
    margin-left: 5%;
}

.disponible {
    font-size: 12px;
    color: #921111;
}

.disponible-time {
    font-size: 12px;
    color: #ff0000;
}

.chart {
    /* display: block; */
    width: 75%;
    height: 100%;
}

.sinMiembro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .contenedor-chart {
    max-width: 30%;
    max-height: 20%;
} */