<h1>Mis asiganciones</h1>
<hr>
<h4>Mis asiganciones pendientes</h4>
<div>
    <nz-card *ngIf="!sinPendientes" nzBordered="false">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let asignacionP of listaAsigancionesPendientes">
            <h4> {{ asignacionP.programacionproyecto.proyectos.nombreProyecto }} </h4>
            <h5> {{ asignacionP.programacionproyecto.actividades.nombre }} </h5>
            <h6> {{ asignacionP.programacionproyecto.tiempoProyectado }} Horas </h6>

        </div>
    </nz-card>
</div>

<div *ngIf="sinPendientes" class="vacio">
    <img class="img-no-time" src="assets/sin-pendientes.svg">
</div>
<br>
<hr>
<h4>Mis asiganciones finalizadas</h4>
<div *ngIf="!sinFinalizada">
    <nz-table #basicTable [nzData]="listaAsigancionesFinalizada">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Actividad</th>
                <th>Hrs Proyectadas</th>
                <th>Hrs Trabajadas</th>
                <th>Hrs Improductivas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.programacionproyecto.proyectos.nombreProyecto }}</td>
                <td>{{ data.programacionproyecto.actividades.nombre }}</td>
                <td>{{data.programacionproyecto.tiempoProyectado }}</td>
                <td>{{data.programacionproyecto.tiempoReal }}</td>
                <td>{{data.programacionproyecto.tiempoProyectado }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="sinFinalizada" class="vacio">
    <img class="img-no-time" src="assets/sin-trabajar.svg">
</div>