/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/style/index.min.css";

/* Import basic styles */

@import "~ng-zorro-antd/button/style/index.min.css";

/* full calendar*/

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

/* Import styles of the component */

.ant-list-header {
    border-bottom: 4px solid #e8e8e8;
    font-size: x-large;
    color: black;
}

.ant-drawer-title {
    margin: 0;
    color: #003875;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
}

.fc-event {
    color: #000 !important;
}

.ant-card-head-title {
    font-size: xx-large;
}

.anticon,
button,
select {
    text-transform: none;
    margin-bottom: 9px;
}

.ant-card-head-title {
    font-size: x-large;
    color: #000000;
    text-shadow: 5px 13px 12px #5d5d5d;
}

.ant-btn-primary {
    color: #fff;
    background-color: #001529;
    border-color: #001529;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
    color: #fff;
    background-color: #000c17;
    border-color: #000c17;
}

.ant-card-contain-grid:not(.ant-card-loading) .ant-card-body {
    margin: -1px 0 0 -1px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.ant-modal-footer {
    padding: 10px 16px;
    text-align: right;
    background: transparent;
    border-top: 1px solid #e8e8e8;
    display: none;
    border-radius: 0 0 4px 4px;
}

.ant-table-thead>tr>th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #c4dff9;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}