<div class="timer">
    <div class="tiempo">
        <div class="buttons" *ngIf="modoReloj">
            <button nz-button nzType="primary" *ngIf="btnStart" (click)="start()" [disabled]="enviar" nzSize="large" nzShape="circle" nzTooltipTitle="Play" nzTooltipPlacement="top" nz-tooltip><i nz-icon nzTheme="fill" nzType="play-circle"></i></button>
            <button nz-button nzType="primary" *ngIf="btnResumen" (click)="resume()" nzShape="circle" nzTooltipTitle="Resumen" nzTooltipPlacement="top" nz-tooltip><i nz-icon
                    nzType="redo"></i></button>
            <button nz-button nzType="primary" *ngIf="btnPause" (click)="pause()" nzSize="large" nzShape="circle" nzTooltipTitle="Pause" nzTooltipPlacement="top" nz-tooltip><i
                    nz-icon nzTheme="fill" nzType="pause-circle"></i></button>
            <button nz-button nzType="primary" *ngIf="btnStop" (click)="stop()" nzShape="circle" nzTooltipTitle="Stop" nzTooltipPlacement="top" nz-tooltip><i nz-icon
                    nzTheme="fill" nzType="stop"></i></button>
        </div>
        <div class="cronometro" *ngIf="modoReloj">
            <div> {{ hh }} : {{ mm }} : {{ ss }} </div>
        </div>
        <div class="manual" *ngIf="modoManual">
            <nz-time-picker [(ngModel)]="inicio" nzTooltipTitle="Hora inicio" nzTooltipPlacement="top" nz-tooltip>
            </nz-time-picker>
            <i class="icon-time" nz-icon nzType="arrow-right" nzTheme="outline"></i>
            <nz-time-picker [(ngModel)]="fin" nzTooltipTitle="Hora fin" nzTooltipPlacement="top" nz-tooltip>
            </nz-time-picker>
            <button nz-button nzType="primary" [disabled]="enviar" (click)="guardar()" nzShape="circle"><i nz-icon
                    nzTheme="fill" nzType="check-circle"></i></button>
        </div>
        <div class="modos">
            <i class="icon-time" nzTooltipTitle="Cronometro" nzTooltipPlacement="topLeft" (click)="reloj()" nz-icon nzType="clock-circle" nzTheme="fill" nz-tooltip></i>
            <i class="icon-time" nzTooltipTitle="Tiempo manual" nzTooltipPlacement="topLeft" nz-icon nzType="menu" (click)="manual()" nzTheme="outline" nz-tooltip></i>
        </div>
    </div>

    <div *ngIf="up" class="detalle">
        <!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
            <nz-form-item>
                <nz-form-label nzFor="gender" nzRequired>Proyecto-Actividad</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Please select your gender!"> -->
        <hr style="width: 85%; opacity: 0.2;">
        <label class="label-datos"> Programación </label>
        <nz-select [(ngModel)]="programacionequipos" (ngModelChange)="changeProgramacion()" [ngModelOptions]="{standalone: true}" nzPlaceHolder="Seleccione una actividad">
            <nz-option *ngFor="let programacion of listaProgramacion" [nzValue]="programacion._id" [nzLabel]="programacion.programacionproyecto.proyectos.nombreProyecto + ' - ' + programacion.programacionproyecto.actividades.nombre">
            </nz-option>
        </nz-select>
        <label class="label-datos"> Descripción </label>
        <textarea [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" cols="41" rows="2"></textarea>
        <!-- </nz-form-control>
            </nz-form-item>
        </form> -->
    </div>
    <i *ngIf="down" (click)="mostrar()" nz-icon nzType="down" nzTheme="outline"></i>
    <i *ngIf="up" (click)="ocultar()" nz-icon nzType="up" nzTheme="outline"></i>
</div>

<br>
<br>
<h1>Detalle de mis actividades</h1>
<full-calendar #calendarEl defaultView="dayGridMonth" [plugins]="calendarPlugins" [locales]="locales" [header]="{
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
    }" (eventClick)="handleEventClick($event)" [events]="calendarEvents">
</full-calendar>

<!-- ---------------------------- -->
<nz-drawer [nzClosable]="true" [nzVisible]="visible" nzPlacement="right" nzWidth="450px" nzTitle="Detalle de actividad" (nzOnClose)="close()">
    <div style="text-align: center; display: flex;flex-direction: column;">
        <label><span class="etiquetas"> Duración </span> <span style="font-size: 30px; color: black;"> {{ duracion }}
            </span></label>
        <span style="font-size: large; color: #000000ed;"> {{ inicioDetalle }} - {{ finDetalle }} </span>
        <br>
        <label><span class="etiquetas">Proyecto</span> <span style="font-size: x-large; color: black;">
                {{ detalleProyecto }}</span></label>
        <label> <span class="etiquetas">Actividad</span> <span style="    font-size: large; color: #484444;">
                {{ detalleActividad }}</span></label>
        <br>
        <hr>
        <p style="    color: black;
 text-align: initial;
        font-size: medium;">{{ descripcionDetalle }}</p>
    </div>
</nz-drawer>