[nz-button] {
    margin: 2%;
    width: 46px;
    height: 43px;
}

.ant-btn>.anticon {
    line-height: 0;
    font-size: 30px;
    margin: 1%;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0px 8px 8px;
}

.cronometro {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 10px 8px 15px;
    font-size: xx-large;
}

.timer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 30%;
    -webkit-box-shadow: 0px 0px 24px 10px rgba(219, 219, 219, 0.98);
    -moz-box-shadow: 0px 0px 24px 10px rgba(219, 219, 219, 0.98);
    box-shadow: 0px 0px 24px 10px rgba(219, 219, 219, 0.98);
}

.detalle {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
}

.demo-infinite-container {
    height: 300px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

nz-list {
    padding: 24px;
}

nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
}

.tiempo {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-top: 5%;
}

.ant-drawer-title {
    margin: 0;
    color: #003875;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}

.etiquetas {
    font-size: large;
    margin-right: 3%;
}

nz-select {
    /* margin: 0 8px 10px 0; */
    width: 280px;
    margin: auto;
    margin-bottom: 10px;
}

.label-datos {
    /* color: #00000094; */
    font-size: small;
    margin-bottom: 7px;
    margin-left: 36px;
    color: #969696;
}

textarea {
    border-color: #0000002e;
    max-width: 85%;
    min-width: 50%;
    margin: auto;
}

.anticon.icon-time {
    line-height: 2;
    font-size: 23px;
    margin: 1%;
}

.modos {
    display: flex;
    flex-direction: column;
}

.manual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:hover {
    Cursor: pointer;
}

.img-empezar {
    width: 40%;
    height: 40%;
}

.vacio {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}