<!-- <div class="chronometer">
    <div id="screen"> {{ hh }} : {{ mm }} : {{ ss }} </div>
    <div class="buttons">
         <button class="emerald" (click)="start()">START &#9658;</button>
        <button class="emerald" (click)="stop()">STOP &#8718;</button>
        <button class="emerald" (click)="resume()">RESUME &#8634;</button>
        <button class="emerald" (click)="reset()">RESET &#8635;</button> 
        <button nz-button nzType="primary" (click)="start()" nzDanger="true" nzSize="large" nzShape="circle"><i nz-icon
                nzType="play-circle"></i></button>
        <button nz-button nzType="primary" (click)="resume()" nzSize="large" nzShape="circle"><i nz-icon
                nzType="pause-circle"></i></button>
        <button nz-button nzType="primary" (click)="stop()" nzSize="large" nzShape="circle"><i nz-icon
                nzType="stop"></i></button>
    </div>
</div>  -->

<div class="timer">
    <div class="tiempo">
        <div class="buttons">
            <button nz-button nzType="primary" *ngIf="btnStart" (click)="start()" nzSize="large" nzShape="circle"><i
                    nz-icon nzTheme="fill" nzType="play-circle"></i></button>
            <button nz-button nzType="primary" *ngIf="btnResumen" (click)="resume()" nzShape="circle"><i nz-icon
                    nzType="redo"></i></button>
            <button nz-button nzType="primary" *ngIf="btnPause" (click)="start()" nzSize="large" nzShape="circle"><i
                    nz-icon nzTheme="fill" nzType="pause-circle"></i></button>
            <button nz-button nzType="primary" *ngIf="btnStop" (click)="stop()" nzShape="circle"><i nz-icon
                    nzTheme="fill" nzType="stop"></i></button>
        </div>
        <div class="cronometro">
            <div> {{ hh }} : {{ mm }} : {{ ss }} </div>
        </div>
    </div>
    <div class="detalle">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
            <nz-form-item>
                <nz-form-label nzFor="gender" nzRequired>Proyecto-Actividad</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Please select your gender!">
                    <nz-select id="programacionequipos" formControlName="programacionequipos" nzPlaceHolder="Seleccione una actividad">
                        <nz-option *ngFor="let programacionequipos of listaProgramacion" [nzValue]="programacionequipos._id" [nzLabel]="programacionequipos.programacionproyecto.proyectos.nombreProyecto + ' - ' + programacionequipos.programacionproyecto.actividades.nombre">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

<br>
<br>
<h1>Detalle de mis actividades</h1>
<full-calendar #calendarEl defaultView="dayGridMonth" [plugins]="calendarPlugins" [locales]="locales" [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }" (eventClick)="handleEventClick($event)" [events]="calendarEvents">
</full-calendar>

<!-- <nz-list nzItemLayout="horizontal" [nzLoading]="loading" nzSplit="true" nzHeader="Detalle de mis actividades">
        <nz-list-item *ngFor="let actividad of detalleActividades">
            <div>
                <span> {{ actividad.descripcion }} </span>
                <span> {{ actividad.fecha }} </span>
                <span> {{ actividad.inicio }} <span> - </span> {{actividad.fin }}</span>


            </div>

            < <nz-list-item-meta>
                <nz-list-item-meta-title>
                    <p>actividad.descripcion </p>
                </nz-list-item-meta-title>
            </nz-list-item-meta> -
        </nz-list-item>
         Hacer algo luego -
        <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
    </nz-list> -->